---

---

<section class='columns is-centered mt-6 mx-3'>
	<div class='column is-8 box p-5'>
		<h1 class='title is-3 has-text-info has-text-centered p-4'>
			Welcome to Simple MOTD!
		</h1>
		<div class=''>
			<h2 class='subtitle is-5 has-text-info'>
				Thanks for using the <span class='has-text-danger'>MOTD</span>
				 creator.
			</h2>
			<p>
				Original Project idea by: <a
					class='has-text-info has-text-weight-bold'
					target='_blank'
					href='https://github.com/notKimu'>Kimu</a
				> Forked by <a
					class='has-text-info has-text-weight-bold'
					target='_blank'
					href='https://github.com/spectrasonic117'>Spectrasonic</a
				>
			</p>
			<p>
				This page allows you to easily create MOTDs or colored text for
				your Minecraft servers.
			</p>
			<p>
				This is a project I had in mind, so I used only the JS and
				functions of the original project, and I wanted to use a
				different framework, in this case Bulma, the site is free of ads
				and tracking, but donations are accepted.
			</p>
			<p>
				Suggestions are welcome via X or discrod, you have my networking
				page in the navbar!
			</p>

			<p class='has-text-right is-family-monospace mt-4'>
				<span class='has-text-info has-bold'>❮❯</span> With <span
					class='has-text-danger'>❤</span
				> by <a
					class='has-text-info has-text-weight-bold'
					href='http://twitter.com/spectrasonic117'
					target='_blank'
					rel=''>Spectrasonic</a
				>
			</p>
		</div>
	</div>
</section>
