---
// import 'js/main.js';
---

<div class='columns'>
	<div class='column is-1'></div>
	<div class='column is-10'>
		<h1 class='title is-3 has-text-primary'>MOTD Generator</h1>
		<div class='motd-options flex centered'>
			<!-- Colors -->
			<ul class='options-container flex box'>
				<div class='flex centered'>
					<a onclick="insertItem('&0')"
						><li class='color black'></li></a
					>
					<a onclick="insertItem('&8')"
						><li class='color dark-gray'></li></a
					>
					<a onclick="insertItem('&7')"
						><li class='color gray'></li></a
					>
					<a onclick="insertItem('&f')"
						><li class='color white'></li></a
					>
					<a onclick="insertItem('&c')"><li class='color red'></li></a
					>
					<a onclick="insertItem('&4')"
						><li class='color dark-red'></li></a
					>
					<a onclick="insertItem('&a')"
						><li class='color green'></li></a
					>
					<a onclick="insertItem('&2')"
						><li class='color dark-green'></li></a
					>
					<a onclick="insertItem('&b')"
						><li class='color aqua'></li></a
					>
					<a onclick="insertItem('&3')"
						><li class='color dark-aqua'></li></a
					>
					<a onclick="insertItem('&9')"
						><li class='color blue'></li></a
					>
					<a onclick="insertItem('&1')"
						><li class='color dark-blue'></li></a
					>
					<a onclick="insertItem('&e')"
						><li class='color yellow'></li></a
					>
					<a onclick="insertItem('&6')"
						><li class='color gold'></li></a
					>
					<a onclick="insertItem('&d')"
						><li class='color light-purple'></li></a
					>
					<a onclick="insertItem('&5')"
						><li class='color dark-purple'></li></a
					>
				</div>
			</ul>
			<!-- TEXT Types-->
			<ul class='options-container flex box'>
				<a onclick="insertItem('&l')"
					><li class='option'><b>Bold</b></li></a
				>
				<a onclick="insertItem('&o')"
					><li class='option'><i>Italics</i></li></a
				>
				<a onclick="insertItem('&n')"
					><li class='option'><u>Underline</u></li></a
				>
				<a onclick="insertItem('&m')"
					><li class='option'><s>Strikethrough</s></li></a
				>
				<a onclick="insertItem('&k')"
					><li class='option'>Obfuscated</li></a
				>
				<a onclick="insertItem('&r')"><li class='option'>Reset</li></a>
				<div class='placeholder-bars'></div>
			</ul>
			<!-- Text AREA -->
			<textarea
				spellcheck='false'
				cols='45'
				rows='2'
				id='textarea'
				class='textarea is-small'
				placeholder='YOUR MOTD'></textarea>

			<div class='field has-addons'>
				<div class='control'>
					<input
						id='preview'
						type='text'
						class='motd-preview input is-primary'
						readonly
						onclick='copy()'
					/>
				</div>
				<div class='control'>
					<a
						class='button is-danger is-outlined'
						id='copy'
						onclick='copy()'>Copy</a
					>
				</div>
				<!-- <div id='preview'></div>
				<div class='button copy-dummy'>Copy</div> -->
			</div>
			<div>
				<span
					>Vanilla / Spigot |
					<span class='has-text-primary'>server.properties</span
					>:</span
				>
				<div class='field has-addons'>
					<div class='control'>
						<div class='type-input'>
							<div class='button is-info control'>motd=</div>
						</div>
					</div>
					<div class='control'>
						<input
							class='input is-info is-full control'
							readonly
							id='copyvanilla'
							onclick='copyVanilla()'
						/>
					</div>
				</div>
				<span
					>Proxies |
					<span class='has-text-primary'>config.yml</span>:</span
				>
				<div class='field has-addons'>
					<div class='control'>
						<div class='type-input'>
							<div class='button is-info control'>motd=</div>
						</div>
					</div>
					<div class='control'>
						<input
							class='input is-info is-full control'
							readonly
							id='copyproxy'
							onclick='copyProxy()'
						/>
					</div>
				</div>
				<!-- <span
					>Proxies |
					<span class='has-text-primary'>config.yml</span>:</span
				>
				<div class='field has-addons'>
					<div class='type-input'>
						<input
							value='motd:'
							class='button is-warning'
							disabled
						/>
						<input readonly id='proxy' onclick='copyProxy()' />
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<div class='column is-1'></div>

	<style>
		.color {
			height: 50px;
			width: 50px;
		}

		.black {
			background-color: #000000;
		}

		.dark-gray {
			background-color: #555555;
		}

		.gray {
			background-color: #aaaaaa;
		}

		.white {
			background-color: #ffffff;
		}

		.red {
			background-color: #ff5555;
		}

		.dark-red {
			background-color: #aa0000;
		}

		.green {
			background-color: #55ff55;
		}

		.dark-green {
			background-color: #00aa00;
		}

		.aqua {
			background-color: #55ffff;
		}

		.dark-aqua {
			background-color: #00aaaa;
		}

		.blue {
			background-color: #5555ff;
		}

		.dark-blue {
			background-color: #0000aa;
		}

		.yellow {
			background-color: #ffff55;
		}

		.gold {
			background-color: #ffaa00;
		}

		.light-purple {
			background-color: #ff55ff;
		}

		.dark-purple {
			background-color: #aa00aa;
		}

		.flex {
			display: flex;
			margin: 0px;
		}

		.centered {
			align-items: center;
		}

		.motd-options {
			display: flex;
			flex-direction: column;
		}
		.options-container {
			overflow: hidden;
			align-items: center;
		}

		li.option {
			margin: 10px;
		}
	</style>
</div>

<script is:inline>
	var codes = [
		'&0',
		'&8',
		'&7',
		'&f',
		'&c',
		'&4',
		'&b',
		'&3',
		'&9',
		'&1',
		'&a',
		'&2',
		'&e',
		'&6',
		'&d',
		'&5',
		'&l',
		'&o',
		'&n',
		'&m',
		'&r',
		'&k'
	];
	var replacers = [
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#000000;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#555555;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#AAAAAA;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#FFFFFF;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#FF5555;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#AA0000;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#55FFFF;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#00AAAA;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#5555FF;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#0000AA;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#55FF55;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#00AA00;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#FFFF55;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#FFAA00;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#FF55FF;'>",
		"</b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf><span style='color:#AA00AA;'>",
		'<b>',
		'<i>',
		'<u>',
		'<s>',
		'</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></b></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></i></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></u></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></s></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf></obf>',
		'<obf>'
	];

	var vanillaReplacers = [
		'\\u00A70',
		'\\u00A78',
		'\\u00A77',
		'\\u00A7f',
		'\\u00A7c',
		'\\u00A74',
		'\\u00A7b',
		'\\u00A73',
		'\\u00A79',
		'\\u00A71',
		'\\u00A7a',
		'\\u00A72',
		'\\u00A7e',
		'\\u00A76',
		'\\u00A7d',
		'\\u00A75',
		'\\u00A7l',
		'\\u00A7o',
		'\\u00A7n',
		'\\u00A7m',
		'\\u00A7r',
		'\\u00A7k'
	];

	function insertItem(value) {
		let textarea = document.querySelector('#textarea');

		// For Firefox & else
		if (textarea.selectionStart || textarea.selectionStart == '0') {
			var startPosition =
				document.querySelector('#textarea').selectionStart;
			var endPosition = document.querySelector('#textarea').selectionEnd;

			textarea.value =
				textarea.value.substring(0, startPosition) +
				value +
				textarea.value.substring(endPosition, textarea.value.length);

			// Gets the cursor back where it was
			textarea.focus();
			textarea.setSelectionRange(endPosition + 2, endPosition + 2);

			// Update the preview
			preview();
		} else {
			document.querySelector('#textarea').value += value;

			// Gets the cursor back where it was
			document.querySelector('#textarea').focus();
			document
				.querySelector('#textarea')
				.setSelectionRange(startPosition + 2, startPosition + 2);

			// Update the preview
			preview();
		}
	}

	// Updates and gives a preview of the MOTD
	function preview() {
		// THIS IS THE PREVIEW PART

		// If new text is added the Copied goes back to Copy
		document.querySelector('#copy').innerHTML = 'Copy';

		let value = document.querySelector('#textarea').value;
		let replaced1 = value;
		let replaced2 = value;
		let replaced3 = value;

		for (let a = 0; a <= value1.length; a++) {
			for (let i = 0; i <= codes.length; i++) {
				replaced1 = replaced1.replace(codes[i], replacers[i]);
			}
		}

		replaced1 = replaced1.replace(
			/(?:\r\n|\r|\n)/g,
			replacers[20] + '<br>'
		);
		document.querySelector('#preview').innerHTML = replaced1;

		// THIS IS THE MOTD OUTPUT PART FOR VANILLA
		for (let a = 0; a <= value.length; a++) {
			for (let i = 0; i <= codes.length; i++) {
				replaced2 = replaced2.replace(codes[i], vanillaReplacers[i]);
			}
		}
		replaced2 = replaced2.replace(/(?:\r\n|\r|\n)/g, '\\u00A7r\\n');
		document.querySelector('#copyvanilla').value = replaced2;

		// THIS IS THE MOTD OUTPUT PART FOR PROXIES
		replaced3 = replaced3.replace(/(?:\r\n|\r|\n)/g, '\\u00A7r\\n');
		document.querySelector('#copyproxy').value = replaced3;
	}

	// Copy Function

	function copy() {
		let motd = document.querySelector('#textarea').value;
		let button = document.querySelector('#copy');

		if (motd == '') {
			button.innerHTML = 'It´s empty!';
			return;
		}
		navigator.clipboard.writeText(motd);
		button.innerHTML = 'Copied!';
	}
	function copyVanilla() {
		let text = document.querySelector('#copyvanilla').value;
		if (text === '') {
			document.querySelector('#copyvanilla').value =
				'There is nothing here!';
			return;
		}
		navigator.clipboard.writeText(text);
	}
	function copyProxy() {
		let text = document.querySelector('#copyproxy').value;
		if (text === '') {
			document.querySelector('#copyproxy').value =
				'There is nothing here!';
			return;
		}
		navigator.clipboard.writeText(text);
	}
</script>
