---

---

<section class='columns is-centered mt-6 mx-3'>
	<div class='column is-8 box p-5'>
		<h1 class='title is-3 has-text-info has-text-centered p-4'>
			How to apply MOTD in Minecraft
		</h1>
		<section class=''>
			<p class='has-text-weight-bold'>
				There are two ways of applying your MOTD to your Minecraft
				server, let´s see...
			</p>

			<h2 class='subtitle is-5 is-3 has-text-info'>Vanilla / Spigot</h2>
			<p class=''>
				If you are just running a vanilla or Spigot based minecraft
				server, go to your server folder and search for a file named
				server.properties Among all the options you will find one named <span
					class='has-text-success'
					>motd=
				</span>,just paste your MOTD there and done! It should look
				something like this: <span class='has-text-success'
					>motd= \u00A7c\u00A7oYour
					incredible\u00A7r\n\u00A7dMinecraft server</span
				>
			</p>
			<h2 class='subtitle is-5 has-text-info'>
				Proxies [Bungeecord | Velocity | etc]
			</h2>

			<p class=''>
				If your server run through a proxy like <span
					class='has-text-success'>bungeecord</span
				> or <span class='has-text-success'>velocity</span>, go to your
				proxy folder and search for your <span class='has-text-success'
					>config.yml</span
				> Search for an option named <span class='has-text-success'
					>motd:</span
				>, and like in the vanilla/spigot section just paste your MOTD
				there. Restart your proxy and done! It should look something
				like this:
				<span class='has-text-success'
					>motd: &c&oYour incredible\u00A7r\n&dMinecraft server</span
				>
			</p>
			<p class='has-text-right is-family-monospace mt-4'>
				<span class='has-text-info has-bold'>❮❯</span> With <span
					class='has-text-danger'>❤</span
				> by <a
					class='has-text-info'
					href='http://twitter.com/spectrasonic117'
					target='_blank'
					rel=''>Spectrasonic</a
				>
			</p>
		</section>
	</div>
</section>
