---

---

<nav id='navbar' class='navbar' role='navigation' aria-label='main navigation'>
	<div class='navbar-brand'>
		<a class='navbar-item' href='/'>
			<h1 class='title is-3 has-text-danger'>MOTD Generator</h1>
		</a>

		<a
			role='button'
			class='navbar-burger'
			aria-label='menu'
			aria-expanded='false'
			data-target='navMenu'
		>
			<span aria-hidden='true'></span>
			<span aria-hidden='true'></span>
			<span aria-hidden='true'></span>
		</a>
	</div>

	<div class='navbar-menu' id='navMenu'>
		<div class='navbar-end'>
			<div class='navbar-item'>
				<div class='buttons'>
					<a href='/' class='button is-info is-outlined'> Home</a>
					<a href='/about' class='button is-primary is-outlined'>
						About</a
					>

					<a href='/howto' class='button is-primary is-outlined'>
						How to</a
					>
					<a
						target='_blank'
						href='https://spectrasonic.vercel.app'
						class='button is-danger is-outlined'
					>
						My Socials</a
					>
				</div>
			</div>
		</div>
	</div>
</nav>

<script is:inline>
	document.addEventListener('DOMContentLoaded', () => {
		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(
			document.querySelectorAll('.navbar-burger'),
			0
		);

		// Add a click event on each of them
		$navbarBurgers.forEach((el) => {
			el.addEventListener('click', () => {
				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');
			});
		});
	});
	$(document).ready(function () {
		// Check for click events on the navbar burger icon
		$('.navbar-burger').click(function () {
			// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
			$('.navbar-burger').toggleClass('is-active');
			$('.navbar-menu').toggleClass('is-active');
		});
	});
</script>
